/* Base styles */
header {
    background-color:black;
}
body, .navbar {
    background-image: url("https://res.cloudinary.com/dpdqklc83/image/upload/v1710858993/static/images/charcoal_gray.e3b16f55e692.png");
    background-size: cover;
    background-position: center center;
    background-color: black;
}

.brand {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    padding: 0 20px;
    justify-content: space-between;
}

.navbar-brand img {
    height: 3rem;
}

.navbar-toggler {
    filter: invert(1);
}

/* Typography */
h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem
}

th, td {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* Layout */
main {
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 50px;
}

#hero-image {
    text-align: center;
    margin: 200px auto;
}

#ekstedt_main_boxes, #ekstedt_menu_boxes, #ekstedt_history, #ekstedt_contact_boxes {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer */

footer {
    margin-top: 100px;
}

.footer, .footer h5, .footer p, .social-links i {
    font-family: "Playfair Display", serif;
    color: white;
    
}

/* CUSTOM MEDIA QUERIES */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.7rem;
    }

    #navbar {
        max-width: 100%;
        margin: 100px auto;
    }
    #hero-image {
        margin: 100px auto;
        max-width: 100%;
    }

    #ekstedt_main_boxes, #ekstedt_menu_boxes, #ekstedt_history, #ekstedt_contact_boxes {
        max-width: 90%;
    }
}

