
body, .navbar {
    background-image: url('/static/images/charcoal_gray.png');
    background-size: cover;
    background-position: center center;
}

.brand {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.navbar-nav {
    justify-content: flex-end;
}

.navbar-brand img {
    height: 3rem;
}

.footer, .footer h5, .footer p, .social-links i {
    font-family: "Playfair Display", serif;
    color: white;
}