{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-5">
        <h3>Past Bookings</h3>
        <ul>
            {% for booking in bookings %}
            {% if booking.date < today %}
            <li>
                <a href="{% url 'booking:details' booking.id %}">
                    {{ booking.customer_name }} on {{ booking.date }} at {{ booking.start_time }}
                </a>
            </li>
            {% endif %}
            {% empty %}
            <li> No past bookings.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-5">
        <h3>New Bookings</h3>
        <ul>
            {% for booking in bookings %}
            {% if booking.date >= today %}
            <li>
                <a href="{% url 'booking:details' booking.id %}">
                    {{ booking.customer_name }} on {{ booking.date }} at {{ booking.start_time }}
                </a>
            </li>
            {% endif %}
            {% empty %}
            <li>No new bookings.</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <button><a href="{% url 'booking:create_booking' %}">Create a Booking</a></button>
        </div>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="menutext text-center">
                <br>
                <h3>Booking</h3>
                <br>
                <p>We accept reservations two months in advance and will release the tables one day at a time. If your
                    preferred date is fully booked, please sign up for our waiting list, and we will contact you if any
                    table becomes available.
                    <br>
                    Dining with us, we kindly ask for three hours of your time. For your information, we are a cash-free
                    restaurant.
                    <br>
                    Our restaurants limit is 6 people per party. Planning a dinner for 6 people or more? Please contact
                    us
                    on
                    info@ekstedt.nu or +468 611 12 10.</p>
                <button><a href="{% url 'account_login' %}">Login</a></button>
            </div>
        </div>
    </div>

    {% endif %}
    {% endblock %}