{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h2>Bookings</h2>
<ul>
    {% for booking in bookings %}
    <li>
        <a href="{% url 'booking:details' booking.id %}">
            {{ booking.customer_name }} on {{ booking.date }} at {{ booking.start_time }}
        </a>
    </li>
    {% empty %}
    <li> No bookings as of yet.</li>
    {% endfor %}
</ul>
<button><a href="{% url 'booking:create_booking' %}">Create a Booking</a></button>

{% else %}
<h2>Bookings</h2>
    <p>TEST</p>
{% endif %}
{% endblock %}