{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="hero-image" class="container-fluid">
    <img id="ekstedt_contact_boxes" src="{% static 'images/contact_boxes.png' %}" alt="ekstedt_boxes4" class="image-fluid">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <img src="{% static 'images/windowchairs.jpg' %}" class="img-fluid" alt="Chairs and window">
        </div>
        <div class="col-5">
            <div class="menutext">
                <br>
                <h2>Contact Us!</h2>
                <br>
                <p>info@ekstedt.nu</p>
                <p>+46 (0)8 611 12 10</p>
                <br>
                <p>Humlegårdsgatan 17</p>
                <p>114 46 Stockholm</p>
            </div>
        </div>
    </div>

{% endblock %}