{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-5">
            <h2>Create a Booking:</h2>
            <p>We accept reservations two months in advance and will release the tables one day at a time.</p>
            <p>Dining with us, we kindly ask for two and a half hours of your time. For your information, we are a cash-free
                restaurant.</p>
            <p>Our restaurants limit is 6 people per party. Planning a dinner for 6 people or more? Please contact us on
                info@ekstedt.nu or +468 611 12 10.</p>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create a Booking</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>


<script src="{% static 'js/booking_form.js' %}"></script>
{% endblock %}