{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="hero-image" class="container-fluid ">
    <img id="ekstedt_history" src="{% static 'images/history_boxes.png' %}" alt="ekstedt_boxes3">
</div>

<div class="row justify-content-center container-fluid">
    <div class="col-10">
        <div class="historytext text-center">
            <p>Niklas grew up in Järpen, a little village in Jämtland, northern Sweden. Like most young people, his attitude
                to where he came from was to turn his back on it. When he trained as a chef, they had it drilled into them that
                the Nordic region was not the place to look for good ingredients. He fell in love with Italian olive oil
                and French poulet de Bresse. When he opened his first restaurant at the age of 21, the focus was on
                ultratrendy molecular gastronomy, serving dishes such as asparagus cloud and deep-fried rice paper. It
                couldn't have been further away from the rustic slow cooking of the Jämtland forests. But one day he felt
                the urge to return to his roots. What was he going to do? He was 33 and lost. In the eyes of the media and
                the public he was the lightweight TV chef from “Niklas mat”. Time to do something big. It was now or
                never… How could he put his own personal stamp on New Nordic Cuisine?
            </p>
            <br>
            <p>He roamed the land around their summer cottage on Ingarö in the Stockholm archipelago, musing like some
                melancholic character in a black & white Ingmar Bergman film. He could spend long periods standing stock
                still, staring at the birches. It was only later that he realised he hadn't been able to see the wood for
                the trees. Quite literally! He was supposed to have set up a barbecue that summer, but that never
                happened. Instead he chopped down some of the birches he'd been staring at so he had some firewood. Then he
                built a fire pit, like he'd done with his parents in the mountains as a kid. The fire became the family's
                kitchen that summer and was kept going almost all the time. He mostly cooked on a grill, but one day he
                couldn't wait for the embers, so he pushed a cast iron pan into the flames.
            </p>
            <br>
            <p>The fire hissed and crackled around the pan. What power, and what flavour! Finally, he felt he was onto
                something. The idea of a new kind of fine-dining restaurant began to take shape in his mind, a place
                where everything was cooked over a fire, just like in the old days. His biggest headache: was it
                practically possible?</p>
            <br>
            <p>Back in town, he took his first head chef Gustav Otterberg to the National Library of Sweden, where they
                devoured cookbooks from the 18th century. To their delight, they found some fantastic instruction manuals
                for Swedish cooking before the advent of electricity. He decided that his new restaurant “Ekstedt” on
                Humlegårdsgatan would be a homage to that time, but also to his childhood and his Jämtland heritage.
            </p>
            <br>
            <p>Ekstedt opened in November 2011 in central Stockholm, with a fire pit, a wood fired oven and a wood
                stove. Plenty of people said he'd made things too difficult for himself. But since then he has continued to
                make things more and more challenging for himself and his team. Because that's what makes them better. And
                now they also have the stone-age equivalent of a microwave oven, a smoker and extra fires burning. They
                continue to explore age-old techniques and to learn more about a lost art of cooking.
            </p>
        </div>
    </div>
</div>

{% endblock %}